.App {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: var(--background-color);
    width: 100%;
    height: 100%;
    overflow: auto;
}

.Settings_Search_Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-grow: 0;
    flex-shrink: 0;
    width: 100%;
    height: 30vh;
    gap: 5vh;
    margin-top: 1vmax;
}

.App_Wrapper_Search {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 40%;
    height: auto;
}

/* Large screens */
@media screen and (min-width: 1201px) {
    .App_Wrapper_Search {
        width: 40%;
    }
}

/* Desktops */
@media screen and (max-width: 1200px) {
    .App_Wrapper_Search {
        width: 50%;
    }
}

/* Small laptops */
@media screen and (max-width: 1024px) {
    .App_Wrapper_Search {
        width: 60%;
    }
}

/* Tablets */
@media screen and (max-width: 768px) {
    .App_Wrapper_Search {
        width: 75%;
    }
}

/* Mobile devices */
@media screen and (max-width: 480px) {
    .App_Wrapper_Search {
        width: 85%;
    }
}


.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}